<template name='guildsView'>
  <div class='ui container'>
     <h1 class='header'>Your Guilds</h1>
     <div class='ui container'>
       <div class='ui negative message'>
         <i class='close icon'></i>
         <div class='header'>
           Hey! Get back from there!  You're not a member of this guild. Get out!
         </div>
         <p>
           Maybe you should try again later after you've proven your worth to the townspeople.
         </p>
       </div>
     </div>
  </div>
</template>
