<template name="guestNav">
  <a class="item left-nav home-button" id="/">
    <img src="..\img\logo.png" />
  </a>
  <a class="item left-nav" id="about.html" value="about">About</a>
  <a class="item left-nav" id="courses.html" value="courseList">Classes</a>
  <a class="item left-nav" id="blog.html" value="blog">Blog</a>
  <a class="item left-nav" id="contact.html" value="contact">Contact</a>
  <a class="item left-nav" id="store.html" value="store">Store</a>
  <a class="item left-nav" id="register.html" value="register">Registration</a>
</template>
