<template name="itemSuffixSelector">
  <label>Item Suffix</label>
  <select class="ui dropdown" name='item-suffix-selected'>
    <option value="ITEM_SUFFIX_0">Random</option>
    <option value="ITEM_SUFFIX_1">Accuracy</option>
    <option value="ITEM_SUFFIX_2">Acumen</option>
    <option value="ITEM_SUFFIX_3">Adroitness</option>
    <option value="ITEM_SUFFIX_4">Affliction</option>
    <option value="ITEM_SUFFIX_5">Awakening</option>
    <option value="ITEM_SUFFIX_6">Awareness</option>
    <option value="ITEM_SUFFIX_7">Badger</option>
    <option value="ITEM_SUFFIX_8">Bear</option>
    <option value="ITEM_SUFFIX_9">Blood</option>
    <option value="ITEM_SUFFIX_10">Boar</option>
    <option value="ITEM_SUFFIX_11">Boring</option>
    <option value="ITEM_SUFFIX_12">Brightening</option>
    <option value="ITEM_SUFFIX_13">Brilliance</option>
    <option value="ITEM_SUFFIX_14">Calamity</option>
    <option value="ITEM_SUFFIX_15">Candlelight</option>
    <option value="ITEM_SUFFIX_16">Colossus</option>
    <option value="ITEM_SUFFIX_17">Consumption</option>
    <option value="ITEM_SUFFIX_18">Daylight</option>
    <option value="ITEM_SUFFIX_19">Defense</option>
    <option value="ITEM_SUFFIX_20">Deflection</option>
    <option value="ITEM_SUFFIX_21">Deftness</option>
    <option value="ITEM_SUFFIX_22">Desolation</option>
    <option value="ITEM_SUFFIX_23">Devouring</option>
    <option value="ITEM_SUFFIX_24">Disaster</option>
    <option value="ITEM_SUFFIX_25">Dragon</option>
    <option value="ITEM_SUFFIX_26">Driving</option>
    <option value="ITEM_SUFFIX_27">Eagle</option>
    <option value="ITEM_SUFFIX_28">Effortlessness</option>
    <option value="ITEM_SUFFIX_29">Enlightenment</option>
    <option value="ITEM_SUFFIX_30">Expertise</option>
    <option value="ITEM_SUFFIX_31">Falcon</option>
    <option value="ITEM_SUFFIX_32">Feasting</option>
    <option value="ITEM_SUFFIX_33">Finesse</option>
    <option value="ITEM_SUFFIX_34">Focus</option>
    <option value="ITEM_SUFFIX_35">Force</option>
    <option value="ITEM_SUFFIX_36">Foresight</option>
    <option value="ITEM_SUFFIX_37">Fox</option>
    <option value="ITEM_SUFFIX_38">Ghost</option>
    <option value="ITEM_SUFFIX_39">Gorging</option>
    <option value="ITEM_SUFFIX_40">Grief</option>
    <option value="ITEM_SUFFIX_41">Griffon</option>
    <option value="ITEM_SUFFIX_42">Hardiness</option>
    <option value="ITEM_SUFFIX_43">Hawk</option>
    <option value="ITEM_SUFFIX_44">Horse</option>
    <option value="ITEM_SUFFIX_45">Hydra</option>
    <option value="ITEM_SUFFIX_46">Illumination</option>
    <option value="ITEM_SUFFIX_47">Injury</option>
    <option value="ITEM_SUFFIX_48">Insight</option>
    <option value="ITEM_SUFFIX_49">Interception</option>
    <option value="ITEM_SUFFIX_50">Judgment</option>
    <option value="ITEM_SUFFIX_51">Knowledge</option>
    <option value="ITEM_SUFFIX_52">Lion</option>
    <option value="ITEM_SUFFIX_53">Lizard</option>
    <option value="ITEM_SUFFIX_54">Mastery</option>
    <option value="ITEM_SUFFIX_55">Mending</option>
    <option value="ITEM_SUFFIX_56">Might</option>
    <option value="ITEM_SUFFIX_57">Misery</option>
    <option value="ITEM_SUFFIX_58">Moonlight</option>
    <option value="ITEM_SUFFIX_59">Mutilation</option>
    <option value="ITEM_SUFFIX_60">Nimble</option>
    <option value="ITEM_SUFFIX_61">Obstruction</option>
    <option value="ITEM_SUFFIX_62">Omniscience</option>
    <option value="ITEM_SUFFIX_63">Owl</option>
    <option value="ITEM_SUFFIX_64">Pain</option>
    <option value="ITEM_SUFFIX_65">Panther</option>
    <option value="ITEM_SUFFIX_66">Parasite</option>
    <option value="ITEM_SUFFIX_67">Penetrating</option>
    <option value="ITEM_SUFFIX_68">Perforating</option>
    <option value="ITEM_SUFFIX_69">Phantom</option>
    <option value="ITEM_SUFFIX_70">Phoenix</option>
    <option value="ITEM_SUFFIX_71">Piercing</option>
    <option value="ITEM_SUFFIX_72">Precision</option>
    <option value="ITEM_SUFFIX_73">Predator</option>
    <option value="ITEM_SUFFIX_74">Prevention</option>
    <option value="ITEM_SUFFIX_75">Proficiency</option>
    <option value="ITEM_SUFFIX_76">Prominence</option>
    <option value="ITEM_SUFFIX_77">Puncturing</option>
    <option value="ITEM_SUFFIX_78">Punishment</option>
    <option value="ITEM_SUFFIX_79">Ram</option>
    <option value="ITEM_SUFFIX_80">Rat</option>
    <option value="ITEM_SUFFIX_81">Raven</option>
    <option value="ITEM_SUFFIX_82">Reconstruction</option>
    <option value="ITEM_SUFFIX_83">Regeneration</option>
    <option value="ITEM_SUFFIX_84">Repulsion</option>
    <option value="ITEM_SUFFIX_85">Retribution</option>
    <option value="ITEM_SUFFIX_86">Reversal</option>
    <option value="ITEM_SUFFIX_87">Seeking</option>
    <option value="ITEM_SUFFIX_88">Serpent</option>
    <option value="ITEM_SUFFIX_89">Sighting</option>
    <option value="ITEM_SUFFIX_90">Specter</option>
    <option value="ITEM_SUFFIX_91">Spry</option>
    <option value="ITEM_SUFFIX_92">Starlight</option>
    <option value="ITEM_SUFFIX_93">Sturdiness</option>
    <option value="ITEM_SUFFIX_94">Suturing</option>
    <option value="ITEM_SUFFIX_95">Swift</option>
    <option value="ITEM_SUFFIX_96">Tenacity</option>
    <option value="ITEM_SUFFIX_97">Tiger</option>
    <option value="ITEM_SUFFIX_98">Toad</option>
    <option value="ITEM_SUFFIX_99">Torment</option>
    <option value="ITEM_SUFFIX_100">Torture</option>
    <option value="ITEM_SUFFIX_101">Vampire</option>
    <option value="ITEM_SUFFIX_102">Vengeance</option>
    <option value="ITEM_SUFFIX_103">Vigor</option>
    <option value="ITEM_SUFFIX_104">Virulence</option>
    <option value="ITEM_SUFFIX_105">Visions</option>
    <option value="ITEM_SUFFIX_106">Weasel</option>
    <option value="ITEM_SUFFIX_107">Wolf</option>
    <option value="ITEM_SUFFIX_108">Wounding</option>


    <!-- To add more items above, use the same format, but
        increment ITEM_SUFFIX_NUM as ENUM -->

  </select>


</template>
