<template name="itemPrefixSelector">
  <label>Item Suffix</label>
  <select class="ui dropdown">
    <option value="ITEM_PREFIX_0">Random</option>
    <option value="ITEM_PREFIX_1">Abiding</option>
    <option value="ITEM_PREFIX_2">Adventurer's</option>
    <option value="ITEM_PREFIX_3">Advocate's</option>
    <option value="ITEM_PREFIX_4">Affluent</option>
    <option value="ITEM_PREFIX_5">Amethyst</option>
    <option value="ITEM_PREFIX_6">Annihilating</option>
    <option value="ITEM_PREFIX_7">Aquamancer's</option>
    <option value="ITEM_PREFIX_8">Arboreal</option>
    <option value="ITEM_PREFIX_9">Archer's</option>
    <option value="ITEM_PREFIX_10">Arctic</option>
    <option value="ITEM_PREFIX_11">Assassin's</option>
    <option value="ITEM_PREFIX_12">Azure</option>
    <option value="ITEM_PREFIX_13">Barbarian's</option>
    <option value="ITEM_PREFIX_14">Beastwalker's</option>
    <option value="ITEM_PREFIX_15">Berserker's</option>
    <option value="ITEM_PREFIX_16">Beryl</option>
    <option value="ITEM_PREFIX_17">Bestial</option>
    <option value="ITEM_PREFIX_18">Blazing</option>
    <option value="ITEM_PREFIX_19">Blightwalker's</option>
    <option value="ITEM_PREFIX_20">Blinding</option>
    <option value="ITEM_PREFIX_21">Blistering</option>
    <option value="ITEM_PREFIX_22">Bloodshot</option>
    <option value="ITEM_PREFIX_23">Blue</option>
    <option value="ITEM_PREFIX_24">Blundered</option>
    <option value="ITEM_PREFIX_25">Blurring</option>
    <option value="ITEM_PREFIX_26">Boreal</option>
    <option value="ITEM_PREFIX_27">Brawler's</option>
    <option value="ITEM_PREFIX_28">Caliginous</option>
    <option value="ITEM_PREFIX_29">Caller's</option>
    <option value="ITEM_PREFIX_30">Callous</option>
    <option value="ITEM_PREFIX_31">Carbonizing</option>
    <option value="ITEM_PREFIX_32">Cauterizing</option>
    <option value="ITEM_PREFIX_33">Cerulean</option>
    <option value="ITEM_PREFIX_34">Champion's</option>
    <option value="ITEM_PREFIX_35">Charged</option>
    <option value="ITEM_PREFIX_36">Charmed</option>
    <option value="ITEM_PREFIX_37">Chilling</option>
    <option value="ITEM_PREFIX_38">Confounding</option>
    <option value="ITEM_PREFIX_39">Corrupt</option>
    <option value="ITEM_PREFIX_40">Cremating</option>
    <option value="ITEM_PREFIX_41">Crimson</option>
    <option value="ITEM_PREFIX_42">Cruel</option>
    <option value="ITEM_PREFIX_43">Crystalline</option>
    <option value="ITEM_PREFIX_44">Daunting</option>
    <option value="ITEM_PREFIX_45">Dawn</option>
    <option value="ITEM_PREFIX_46">Dazzling</option>
    <option value="ITEM_PREFIX_47">Demolishing</option>
    <option value="ITEM_PREFIX_48">Depraved</option>
    <option value="ITEM_PREFIX_49">Desolate</option>
    <option value="ITEM_PREFIX_50">Destructive</option>
    <option value="ITEM_PREFIX_51">Devastating</option>
    <option value="ITEM_PREFIX_52">Disorienting</option>
    <option value="ITEM_PREFIX_53">Dispiriting</option>
    <option value="ITEM_PREFIX_54">Displacing</option>
    <option value="ITEM_PREFIX_55">Druid's</option>
    <option value="ITEM_PREFIX_56">Durable</option>
    <option value="ITEM_PREFIX_57">Duelist's</option>
    <option value="ITEM_PREFIX_58">Electrified</option>
    <option value="ITEM_PREFIX_59">Energizing</option>
    <option value="ITEM_PREFIX_60">Enforced</option>
    <option value="ITEM_PREFIX_61">Eradicating</option>
    <option value="ITEM_PREFIX_62">Eternal</option>
    <option value="ITEM_PREFIX_63">Excruciating</option>
    <option value="ITEM_PREFIX_64">Fated</option>
    <option value="ITEM_PREFIX_65">Fearsome</option>
    <option value="ITEM_PREFIX_66">Feral</option>
    <option value="ITEM_PREFIX_67">Ferocious</option>
    <option value="ITEM_PREFIX_68">Fine</option>
    <option value="ITEM_PREFIX_69">Flaming</option>
    <option value="ITEM_PREFIX_70">Formidable</option>
    <option value="ITEM_PREFIX_71">Fortified</option>
    <option value="ITEM_PREFIX_72">Fortunate</option>
    <option value="ITEM_PREFIX_73">Frigid</option>
    <option value="ITEM_PREFIX_74">Frosted</option>
    <option value="ITEM_PREFIX_75">Frozen</option>
    <option value="ITEM_PREFIX_76">Fusillier's</option>
    <option value="ITEM_PREFIX_77">Glacial</option>
    <option value="ITEM_PREFIX_78">Glimmering</option>
    <option value="ITEM_PREFIX_79">Glittering</option>
    <option value="ITEM_PREFIX_80">Glowing</option>
    <option value="ITEM_PREFIX_81">Grim</option>
    <option value="ITEM_PREFIX_82">Gruesome</option>
    <option value="ITEM_PREFIX_83">Hardened</option>
    <option value="ITEM_PREFIX_84">Heartless</option>
    <option value="ITEM_PREFIX_85">Heated</option>
    <option value="ITEM_PREFIX_86">Honed</option>
    <option value="ITEM_PREFIX_87">Hurricane's</option>
    <option value="ITEM_PREFIX_88">Icy</option>
    <option value="ITEM_PREFIX_89">Igneous</option>
    <option value="ITEM_PREFIX_90">Impenetrable</option>
    <option value="ITEM_PREFIX_91">Imperial</option>
    <option value="ITEM_PREFIX_92">Imposing</option>
    <option value="ITEM_PREFIX_93">Incandescent</option>
    <option value="ITEM_PREFIX_94">Incendiary</option>
    <option value="ITEM_PREFIX_95">Incinerating</option>
    <option value="ITEM_PREFIX_96">Indigo</option>
    <option value="ITEM_PREFIX_97">Intimidating</option>
    <option value="ITEM_PREFIX_98">Invigorating</option>
    <option value="ITEM_PREFIX_99">Ivory</option>
    <option value="ITEM_PREFIX_100">Jagged</option>
    <option value="ITEM_PREFIX_101">Jolting</option>
    <option value="ITEM_PREFIX_102">Keen</option>
    <option value="ITEM_PREFIX_103">Knight's</option>
    <option value="ITEM_PREFIX_104">Lavender</option>
    <option value="ITEM_PREFIX_105">Lucky</option>
    <option value="ITEM_PREFIX_106">Luminous</option>
    <option value="ITEM_PREFIX_107">Marksman's</option>
    <option value="ITEM_PREFIX_108">Masterwork</option>
    <option value="ITEM_PREFIX_109">Midnight</option>
    <option value="ITEM_PREFIX_110">Mournful</option>
    <option value="ITEM_PREFIX_111">Necromancer's</option>
    <option value="ITEM_PREFIX_112">Necromantic</option>
    <option value="ITEM_PREFIX_113">Noble</option>
    <option value="ITEM_PREFIX_114">Nomad's</option>
    <option value="ITEM_PREFIX_115">Obliterating</option>
    <option value="ITEM_PREFIX_116">Obscuring</option>
    <option value="ITEM_PREFIX_117">Opulent</option>
    <option value="ITEM_PREFIX_118">Overgrown</option>
    <option value="ITEM_PREFIX_119">Paladin's</option>
    <option value="ITEM_PREFIX_120">Pale</option>
    <option value="ITEM_PREFIX_121">Pearl</option>
    <option value="ITEM_PREFIX_122">Persistent</option>
    <option value="ITEM_PREFIX_123">Polar</option>
    <option value="ITEM_PREFIX_124">Protector's</option>
    <option value="ITEM_PREFIX_125">Purple</option>
    <option value="ITEM_PREFIX_126">Pyromancer's</option>
    <option value="ITEM_PREFIX_127">Rabid</option>
    <option value="ITEM_PREFIX_128">Radiating</option>
    <option value="ITEM_PREFIX_129">Rancorous</option>
    <option value="ITEM_PREFIX_130">Ranger's</option>
    <option value="ITEM_PREFIX_131">Ravager's</option>
    <option value="ITEM_PREFIX_132">Razor</option>
    <option value="ITEM_PREFIX_133">Red</option>
    <option value="ITEM_PREFIX_134">Regal</option>
    <option value="ITEM_PREFIX_135">Relentless</option>
    <option value="ITEM_PREFIX_136">Repellant</option>
    <option value="ITEM_PREFIX_137">Resolute</option>
    <option value="ITEM_PREFIX_138">Rime</option>
    <option value="ITEM_PREFIX_139">Rousing</option>
    <option value="ITEM_PREFIX_140">Ruby</option>
    <option value="ITEM_PREFIX_141">Rugged</option>
    <option value="ITEM_PREFIX_142">Ruinous</option>
    <option value="ITEM_PREFIX_143">Ruthless</option>
    <option value="ITEM_PREFIX_144">Sapphire</option>
    <option value="ITEM_PREFIX_145">Savage</option>
    <option value="ITEM_PREFIX_146">Scarlet</option>
    <option value="ITEM_PREFIX_147">Scorching</option>
    <option value="ITEM_PREFIX_148">Searing</option>
    <option value="ITEM_PREFIX_149">Serendipitous</option>
    <option value="ITEM_PREFIX_150">Serrated</option>
    <option value="ITEM_PREFIX_151">Sharp</option>
    <option value="ITEM_PREFIX_152">Shining</option>
    <option value="ITEM_PREFIX_153">Shivering</option>
    <option value="ITEM_PREFIX_154">Shocking</option>
    <option value="ITEM_PREFIX_155">Slayer's</option>
    <option value="ITEM_PREFIX_156">Smoking</option>
    <option value="ITEM_PREFIX_157">Sniper's</option>
    <option value="ITEM_PREFIX_158">Snowy</option>
    <option value="ITEM_PREFIX_159">Somber</option>
    <option value="ITEM_PREFIX_160">Sovereign</option>
    <option value="ITEM_PREFIX_161">Stable</option>
    <option value="ITEM_PREFIX_162">Steadfast</option>
    <option value="ITEM_PREFIX_163">Stinging</option>
    <option value="ITEM_PREFIX_164">Storming</option>
    <option value="ITEM_PREFIX_165">Stout</option>
    <option value="ITEM_PREFIX_166">Stygian</option>
    <option value="ITEM_PREFIX_167">Suffused</option>
    <option value="ITEM_PREFIX_168">Summoner's</option>
    <option value="ITEM_PREFIX_169">Tempest's</option>
    <option value="ITEM_PREFIX_170">Templar's</option>
    <option value="ITEM_PREFIX_171">Thundering</option>
    <option value="ITEM_PREFIX_172">Tough</option>
    <option value="ITEM_PREFIX_173">Tragic</option>
    <option value="ITEM_PREFIX_174">Twilight</option>
    <option value="ITEM_PREFIX_175">Unremitting</option>
    <option value="ITEM_PREFIX_176">Vagabond's</option>
    <option value="ITEM_PREFIX_177">Vanquisher's</option>
    <option value="ITEM_PREFIX_178">Vicious</option>
    <option value="ITEM_PREFIX_179">Vigilant</option>
    <option value="ITEM_PREFIX_180">Vile</option>
    <option value="ITEM_PREFIX_181">Violet</option>
    <option value="ITEM_PREFIX_182">Wanderer's</option>
    <option value="ITEM_PREFIX_183">Warden's</option>
    <option value="ITEM_PREFIX_184">Warrior's</option>
    <option value="ITEM_PREFIX_185">Watcher's</option>
    <option value="ITEM_PREFIX_186">Wealthy</option>
    <option value="ITEM_PREFIX_187">White</option>
    <option value="ITEM_PREFIX_188">Wild</option>
    <option value="ITEM_PREFIX_189">Wicked</option>
    <option value="ITEM_PREFIX_190">Winter</option>
    <option value="ITEM_PREFIX_191">Wintery</option>



    <!-- To add more items above, use the same format, but
        increment ITEM_PREFIX_NUM for ENUMS later -->

  </select>


</template>
