<template name="newCourse">
    <div class='ui container'>
        <h1 class='ui header'>Add New Course</h1>
        <form class="ui equal width form" id='new-course-form'>
            <div class="field">
                <label>Title</label>
                <input type="text" name="courseTitle" placeholder="Enter the Course/Series/Class Title...">
            </div>
            <h4 class="ui dividing header">Location Info</h4>
            <div class="field">
                <label>Site/Host Name</label>
                <input type="text" name="hostName" placeholder="Name of Event(s) Host (ie BlahBlah Elementary School)" />
            </div>
            <div class="four fields">
                <div class="three wide field">
                    <label>Street Number</label>
                    <input type="text" name="streetNumber" placeholder="1220" />
                </div>
                <div class="two wide field">
                    <label>Street Direction</label>
                    <input type="text" name="streetDirection" placeholder="N. or North" />
                </div>
                <div class="eight wide field">
                    <label>Street Name</label>
                    <input type="text" name="streetName" placeholder="Example St." />
                </div>
                <div class="three wide field">
                    <label>Bldg/Suite/No.</label>
                    <input type="text" name="streetSuite" placeholder="304, A-2" />
                </div>
            </div>
            <div class="three fields">
                <div class="eight wide field">
                    <label>City</label>
                    <input type="text" name="city" placeholder="Yourtown" />
                </div>
                <div class="four wide field">
                    <label>State</label>
                    <input type="text" name="state" placeholder="NY" />
                </div>
                <div class="four wide field">
                    <label>Zip</label>
                    <input type="text" name="zipCode" placeholder="00000" />
                </div>
            </div>
            <h4 class="ui dividing header">Session Information</h4>
            <div class="sixteen wide field">
              <label>Meeting Days</label>
              <div class="inline fields">
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="meetingDays" />
                    <label>Monday</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="meetingDays" />
                    <label>Tuesday</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="meetingDays" />
                    <label>Wednesday</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="meetingDays" />
                    <label>Thursday</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="meetingDays" />
                    <label>Friday</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui checkbox">
                    <input type="checkbox" name="meetingDays" />
                    <label>Saturday</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="four wide field">
              <div class="two fields">
                  <div class="field">
                      <label>Start Date</label>
                      <input type="text" name="startDate" placeholder="MM/DD/YY" />
                  </div>
                  <div class="field">
                      <label>End Date</label>
                      <input type="text" name="endDate" placeholder="MM/DD/YY" />
                  </div>
              </div>
            </div>
            <div class="four wide field">
              <div class="two fields">
                <div class="field">
                  <label>Start Time</label>
                  <input type="text" name="startTime" placeholder="5:30" />
                </div>
                <div class="field">
                  <label>AM/PM</label>
                  <select class="ui dropdown" name="startTimeAmPm">
                    <option value="pm">PM</option>
                    <option value="am">AM</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="four wide field">
              <div class="two fields">
                <div class="field">
                  <label>End Time</label>
                  <input type="text" name="endTime" placeholder="5:30" />
                </div>
                <div class="field">
                  <label>AM/PM</label>
                  <select class="ui dropdown" name="startTimeAmPm">
                    <option value="pm">PM</option>
                    <option value="am">AM</option>
                  </select>
                </div>
              </div>
            </div>
          <h4 class="ui dividing header">Detailed Course Information</h4>
          <div class="four fields">
            <div class="two wide field">
              <label>Target Grade</label>
              <select type="text" name="targetGrade">
              <option value="0">Kindergarten</option>
              <option value="1">1st-3rd</option>
              <option value="2">4th-6th</option>
              <option value="3">7th-8th</option>
              <option value="4">9th-12th</option>
            </select>
            </div>
            <div class="two wide field">
              <label>Minimum Students</label>
              <input type="text" name="minStudents" placeholder="1" />
            </div>
            <div class="two wide field">
              <label>Maximum Students</label>
              <input type="text" name="maxStudents" placeholder="15" />
            </div>
            <div class="ten wide field">
              <label>Maker Coach</label>
              <input type="text" name="assignedInstructor" placeholder="Jane Smith" />
            </div>
          </div>
          <div class="field">
            <label>Course Description</label>
            <textarea rows="3" name="courseDescription" placeholder="Describe the course..."></textarea>
          </div>
          <h4 class="ui dividing header">Series Info</h4>
          <div class="fields">
            <div class="ten wide field">
              <label>Series Name</label>
              <input type="text" name="courseSeriesName" placeholder="Studying Stuff" />
            </div>
            <div class="three wide field">
              <label>Course #</label>
              <input type="text" name="courseNumberInSeries" placeholder="2" />
            </div>
            <span> of </span>
            <div class="three wide field">
              <label>Total in Series</label>
              <input type="text" name="totalCoursesInSeries" placeholder="5" />
            </div>
          </div>
          <div class="field">
            <label>Series Description</label>
            <textarea rows="4" name="seriesDescription" placeholder="Describe the series of courses..."></textarea>
          </div>
          <div class="ui primary button submit btn-new-course-submit" tabindex="0">Create Course</div>
          <br />
        </form>
        <p>
          &nbsp;
        </p>
    </div>

</template>
