<template name="coursesView">
  {{> pageHeader}}
  <div class="ui vertical stripe segment">
    <div class="ui container">
      <h1 class="header">Course Info</h1>
      <div class="ui three stackable cards container">
        <div class="ui card">
          <div class="ui header">Imagine, Design, Make</div>
          <div class="image">
            <img src="..\img\coursesA.png">
          </div>
          <div class="content">
            <div class="description">
              In this class makers will be introduced to 3D printing, 3D modeling tools (software), and design. We will use TinkerCAD an online (web based) modeling tool, TinkerPlay (toy design tool), and thingiverse (a digital design space for physical objects) to
              design parts. Upon completion of a design, the makers model will be printed in a 3D printer.
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="ui header">Sense, Interpret, Actuate</div>
          <div class="image">
            <img src="../img/coursesB.png">
          </div>
          <div class="content">
            <div class="description">
              In the electrical design and circuits class makers will invent exciting circuits that will engage their interest in everything electronic. Sensor and actuator circuits will be used to create functioning systems capable of detecting an input and responding
              with an output. We will be using little Bits electronics and CircuitScribe (a pen with conductive ink capable of designing functioning circuits on paper.
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="ui header">Engage, Invent, Excite</div>
          <div class="image">
            <img src="../img/coursesC.png">
          </div>
          <div class="content">
            <div class="description">
              In the computer software and programming class, makers will learn to use Scratch (a free online software developed by MIT that teaches software design and logic in an interactive way even a young maker can learn to code). By the end of the course, makers
              will complete the design and coding of an interactive video game. The game will be shared with the Scratch community.
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="ui header">Product and Toy Design</div>
          <div class="image">
            <img src="../img/coursesD.png">
          </div>
          <div class="content">
            <div class="description">
              In the toy design class students will use Autodesk 123D products such as TinkerCad and TinkerPlay to create toys and products that they imagine or dream. The toys will be printed on 3D printer and assembled by the students.
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="ui header">Game Craft</div>
          <div class="image">
            <img src="../img/coursesE.png">
          </div>
          <div class="content">
            <div class="description">
              In the Gamecraft class, students will use Printcraft (an online Minecraft server which enables Minecraft designs to be printed on 3D printers) to create and print 3D models. This will help students understand the viability of their digital world becoming
              replicated in the physical world.
            </div>
          </div>
        </div>
        <div class="ui card">
          <div class="ui header">Apps and Web Publishing</div>
          <div class="image">
            <img src="../img/coursesF.png">
          </div>
          <div class="content">
            <div class="description">
              Advanced classes will explore current technologies in software development and web applications. From a website to check the weather and lunch menu at school to publishing apps on the cloud, this class will work to take intermediate and advanced makers
              through the steps to create and build their online portfolios.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment container">
      <h2 class="ui header">Imagine the Possibilities</h2>
      <div class="ui container">
        <div class="ui two stackable cards">
          <div class="ui card">
            <div class="large image fluid">
              <img src="../img/imaginePossibilitiesLeft.jpg">
            </div>
          </div>
          <div class="ui card">
            <div class="large image fluid">
              <img src="../img/imaginePossibilitiesRight.jpg">
            </div>
          </div>
        </div>
      </div>
    <div class="ui two column centered grid container">
      <div class="ui row">
        <div class="ui primary button thingiverse-button">
          View More
        </div>
      </div>
    </div>
  </div>
</template>
