/*stylesheet to go here*/
.menu-item-branding {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

.brand-logo {
  height: 40px;
}

.main-window-container {
  margin-top: 65px;
}

.footer-simulation{
  position: absolute;
  bottom: 0;
}

/* The login menu has to be set at a specific height and I chose to center mine. */

#login-screen .dropdown-menu {
  display: block;
  position: relative;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

#login-screen #login-dropdown-list {
  display: block;
}

/* Hides the toggle that you click on */

#login-screen a.dropdown-toggle {
  display: none;
}
