/*stylesheet to go here*/
.menu-item-branding {
  max-height: 40px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}

.brand-logo {
  height: 40px;
}

.large-logo{
  height: 146px !important;
}

.layout-window-container {
  margin-top: 55px;
}

.footer-simulation{
  position: absolute;
  bottom: 0;
}
