<template name="guestView">
  <div>
    {{> topNav}}
  </div>
  <div class="pusher">
    <div class="ui vertical masthead center aligned segment">
      <div class="ui image large-logo">
        <img src="..\img\largeLogo.png">
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="six wide column">
            <h2 class="ui header">Maker Movement</h2>
            <h4>The maker movement is shaping our future. Learn how the next generation of makers are emerging.</h4>
            <div class="ui primary button about-button" value="aboutView">
              Learn More
            </div>
          </div>
          <div class="eight wide right floated column">
            <div class="ui fluid card">
              <div class="image">
                <img src="..\img\slide1.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="container">
        <h2 class="ui middle aligned container">What Makers Do:</h2>
        <div class="ui three column stackable grid container">
          <div class="left aligned row">
            <div class="column">
              <h2 class="ui header">Design</h2>
              <div class="ui card">
                <div class="image">
                  <img src="..\img\designing.png">
                </div>
                <div class="content">
                  <div class="description">
                    Students learn to design using easy to use software and web apps. In industry this is known as Computer Aided Design (CAD). Kids learn to easily design toys, functional parts, and interactive objects. Their imagination and creativity is engaged and developed.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <h2 class="ui header">Create</h2>
              <div class="ui card">
                <div class="image">
                  <img src="..\img\printedparts.png">
                </div>
                <div class="content">
                  <div class="description">
                    Once designs are completed, parts can be printed on the latest 3D printing technology. This further engages the child's interest in
                    <strong>S</strong>cience,
                    <strong>T</strong>echnology,
                    <strong>E</strong>ngineering, and
                    <strong>M</strong>ath by demonstrating the power and capability of these topics.
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <h2 class="ui header">Learn</h2>
              <div class="ui card">
                <div class="image">
                  <img src="..\img\printedparts.png">
                </div>
                <div class="content">
                  <div class="description">
                    Students create objects, toys, and technologies in teams with their peers to deepen their teamwork and social interactions. Interactive learning occurs during team projects to further reinforce the learning process.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="ui vertical stripe segment">
      <div class="ui two column stackable grid container">
        <div class="center aligned row">
          <div class="column">
            <img src="..\img\azSTEMnetwork.jpg" />
            <h3 class="center aligned">Makers Next Gen is a proud Member of the SFAZ STEM Network</h3>
            <div class="left aligned">The STEM Network is a trusted partner that provides new knowledge and research-based solutions to community efforts to improve STEM education. The Arizona STEM Network uses a <a href="https://t.e2ma.net/click/vlhvf/zoeqxg/f5ho4b">Collective Impact Model</a>              to bring multiple entities together around
              <a href="http://stem.sfaz.org/blogpost/1223567/209866/2015-Arizona-STEM-Network-Strategic-Plan">shared goals</a> and collective measurement.
              <br/> Acting as a backbone organization that provides value to the statewide STEM community, the STEM Network receives support from Arizona’s elected leaders, employers, CEO organizations and philanthropic partners.
            </div>
          </div>
          <div class="column">
            <img src="..\img\higleyLogo.png" />
            <h3 class="center aligned">Makers Next Gen LLC Partners with Higley Unified School District</h3>
            <div class="left aligned">
              We are proud to announce our first classes will be offered in the Higley Unified School District (HUSD). HUSD we look forward to mentoring the next generation of makers in your community.
              <br/>
              <br/> "The Mission of HUSD Community Education is to provide quality, affordable academic, recreation and enrichment programs that challenge and inspire all members of our growing and diverse community."
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
