<template name="aboutView">
  <div class="pusher">
    {{> pageHeader}}
    <div class="ui vertical stripe segment">
      <div class="ui container">
         <h1 class="ui header">About Us</h1>
        <image class="ui large right floated spaced image" src="..\img\printing.png"></image>
        <p>At Makers Next Gen our mission is to develop your students into the next generation of makers. This will be achieved by co-creating with your students on the most advanced, open source technologies available to the maker community. Students will
          be introduced to the maker movement, excited by the possibilities, and establish a lifelong interest in inventing in the Science Technology Engineering and Math (maker)space.</p>
        <p>It is our vision that children ages 6-18 have the capacity to create products and solutions that will change their world. All of us are wired to be makers. When we were children we interacted with a different world and created things from the
          raw materials and tools we had access to. The difference for the next generation is the raw materials and tools they have access to have advanced.</p>
        <p>At Makers Next Gen we value the reality that our classes will prepare the next generation of makers for an enhanced learning experience. This experience will fully engage their interests, imagination, and, creativity. Students will share knowledge
          and inspire peers by participating in interactive social connections while dreaming and designing the nonexistent. We will leverage their interest in the virtual experience by demonstrating the digital world can be replicated in the physical.
          The education students will receive by doing and hands on learning is modeled in the Science Technology Engineering, and Math communities at a collegiate level in Polytechnic Universities throughout the world.</p>
        <p>The experience for students and parents will be rewarded by our results. Students will experience an immediate sense of achievement when they complete a class and get to keep their products. Parents can see resultant products that their maker
          created at the end of each class or view their online makerspace/portfolio. The more classes a student takes, the larger his/her maker portfolio becomes. Based on their portfolio and performance, we will feature a maker of the month and maker
          of the year on our webpage. With our connections to school districts, universities, and industry we hope to prepare the next generation of makers for AP classes, college, jobs, and entrepreneurship. </p>
      </div>
    </div>
    <div class="ui vertical stripe segment">
      <div class="container">
        <div class="ui four column grid container">
          <div class="column">
            <h2 class="header">Makers</h2>
            <ul class="stuff-list">
              <li><i class="small setting icon"></i>Coming soon - join us</li>
            </ul>
          </div>
          <div class="column">
            <h2 class="header">Schools</h2>
            <ul class="stuff-list">
              <li><i class="small setting icon"></i>Higley Unified School District</li>
              <li><i class="small setting icon"></i>Centennial Elementary</li>
              <li><i class="small setting icon"></i>Power Ranch Elementary</li>
              <li><i class="small setting icon"></i>Cortina Elementary</li>
            </ul>
          </div>
          <div class="column">
            <h2 class="header">Connections</h2>
            <ul class="stuff-list">
              <li><i class="small setting icon"></i>AZ STEM Network</li>
              <li><i class="small setting icon"></i>STAX 3D Printing</li>
              <li><i class="small setting icon"></i>3D Systems</li>
              <li><i class="small setting icon"></i>Electroninks</li>
            </ul>
          </div>
          <div class="column">
            <h2 class="header">Results</h2>
            <ul class="stuff-list">
              <li><i class="small setting icon"></i>Coming Soon - Join Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
