<template name="footer">
  
  <div class="ui fitted divider"></div>
  <div class="ui vertical stripe segment">
      <div class="ui container">
        <h3 class="ui left floated header">Connect with Makers Next Gen</h3>
        <div class="ui clearing divider"></div>
        <div class="ui three column very relaxed grid">
          <div class="column">
            <div class="content">
              <p>Hours
                <br/> M-F: 7am - 9pm</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <p>Telephone
                <br/> 480-246-1483
              </p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <p>Email
                <br/> Travis.Venson@makersnextgen.com
              </p>
            </div>
          </div>
        </div>
      </div>

  </div>

</template>
