<template name="createCharacter">
  <div class="ui container">
    <h2 class="header">Create Your Character for Maker Quest</h2>
    <form class="ui form" name="character-creator">
      <div class="field">
        <label>Character Name</label>
        <input type="text" name="character-name" placeholder="Character's Name">
      </div>
      <div class="field">
        <label>Character Type</label>
        <select name="character-type" class="ui dropdown">
          <option value="default">Choose your character type...</option>
          <option value="0">Knight</option>
          <option value="1">The Construct</option>
          <option value="2">Summoner</option>
          <option value="3">Tinkerer</option>
        </select>
      </div>
      <div class="field">
        <label>Gender</label>
        <select name="gender" class="ui dropdown">
          <option value="default">Choose your character's gender...</option>
          <option value="0">Male</option>
          <option value="1">Female</option>
        </select>
      </div>
      <div class="ui large buttons">
        <button class="positive ui button" type="submit">Create It!</button>
        <div class="or"></div>
        <button class="negative ui button" type="cancel">Start Over</button>
      </div>
    </form>
  </div>
</template>
