<template name="newItemView">
  <div class="ui container">
    <h1 class="ui header">Create New Item</h1>
    <div class="ui equal width form">
      <div class="field">
        <div class="field item-type-selector">
          <label>Item Type</label>
          <select class="ui dropdown">
            <option value="0">Random</option>
            <option value="1">Book</option>
          </select>
        </div>
      </div>
      <div class='field'>
        <div class="field item-prefix-selector">
          {{> itemPrefixSelector}}
        </div>
      </div>
      <div>
        <div class="field item-suffix-selector">
          {{> itemSuffixSelector}}
        </div>
      </div>
      <div class='field'>
        <label>Item Description</label>
        <textarea rows="5"></textarea>
      </div>
      <div class='field'>
        <label>Item Icon File</label>
        <input type='text' autocomplete='off' placeholder='Leave blank to use random icon of item type'>
      </div>
      <div class='ui large buttons'>
        <button class='button custom-item-button' type='submit'>Create It!</button>
        <div class='or'></div>
        <button class='button random-item-button' type='submit'>Make Random</button>
      </div>



    </div>
  </div>
</template>
