<template name="guestView">
  <div>
    {{> topNav}}
  </div>
  <div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui image large-logo">
          <img src="..\img\largeLogo.png">
        </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h2 class="ui header">We bring unique opportunties to today's students</h2>
            <h4>We can empower your school with world-class extra-curricular activities in Science, Technology, Engineering, and Mathematics (STEM).</h4>
            <h2 class="ui header">We train Makers</h2>
            <h4>Using areas of interest that students bring with them, we refine their skills with real-world projects, track their progress, provide an interface and activity environment they enjoy, and help build their portfolios for college or private industry.</h4>
          </div>
          <div class="six wide right floated column">
            <div class="ui fluid card">
              <div class="image">
                <img src="..\img\toyDemo.png">
              </div>
              <div class="content">
                <div class="meta">
                  One of our youngest makers poses with a toy he designed and 3D printed.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <img src="..\img\azSTEMnetwork.jpg"/>
            <h3 class="center aligned">Makers Next Gen is a proud Member of the SFAZ STEM Network</h3>
            <div class="left aligned">The STEM Network is a trusted partner that provides new knowledge and research-based solutions to community efforts to improve STEM education. The Arizona STEM Network uses a <a href="https://t.e2ma.net/click/vlhvf/zoeqxg/f5ho4b">Collective Impact Model</a> to bring multiple entities together around
              <a href="http://stem.sfaz.org/blogpost/1223567/209866/2015-Arizona-STEM-Network-Strategic-Plan">shared goals</a> and collective measurement.
              <br/>
              Acting as a backbone organization that provides value to the statewide STEM community, the STEM Network receives support from Arizona’s elected leaders, employers, CEO organizations and philanthropic partners.
            </div>
          </div>
          <div class="column">
            <img src="..\img\higleyLogo.png"/>
            <h3 class="center aligned">Makers Next Gen LLC Partners with Higley Unified School District</h3>
            <div class="left aligned">
              We are proud to announce our first classes will be offered in the Higley Unified School District (HUSD). HUSD we look forward to mentoring the next generation of makers in your community.
              <br/><br/>
              "The Mission of HUSD Community Education is to provide          quality, affordable academic, recreation and enrichment programs that challenge and inspire all members of our growing and diverse community."
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui header">Connect with Makers Next Gen</h3>
        <h4 class="ui horizontal header divider"></h4>
        <div class="ui three column grid">
          <div class="column">
            <div class="segment">
              <p>Hours<br/>
              M-F: 7am - 9pm</p>
            </div>
          </div>
          <div class="column">
            <div class="segment">
              <p>Telephone<br/>
              480-246-1483</p>
            </div>
          </div>
          <div class="column">
            <div class="segment">
              <p>Email<br/>
                Travis.Venson@makersnextgen.com</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

</template>
