<template name="topNav">
  <div class="ui fixed menu">
    {{#if loggedIn}}
      {{> userNav}}
    {{else}}
      {{> guestNav}}
    {{/if}}
    <div class="right menu">
      <div class="item">
        <div class="notification-display">
          <i class="large icon">
            <i class="announcement icon"></i>
          </i>
        </div>
      </div>
      <div class="item" id="login-screen">
        {{> atNavButton}}
        <!-- <a class="item login-link">
          {{#if loggedIn}}
            {{currentUser}}<i class="signout"></i>
          {{else}}
            Sign In<i class="signin"></i>
          {{/if}}
        </a> -->
      </div>
    </div>
  </div>
</template>
