<template name="topNav">
  <div class="ui fixed menu">
    <a class="item left-nav" id="home" href="/">
      <img src="..\img\logo.png" />
    </a>
    <a class="item left-nav">Character Menu</a>
    <a class="item left-nav">Inventory</a>
    <a class="item left-nav">Quest Log</a>
    <a class="item left-nav">Skills</a>
    <a class="item left-nav">Achievements</a>
    <a class="item">{{> atNavButton}}</a>
    <div class="right menu">
      <div class="item notification-display">
        <i class="disabled large bell icon"></i>
      </div>
      <!-- <a class="item">{{>loginButtons}}</a> -->
    </div>
  </div>
</template>
