<template name="rightPane">
  <div class="ui centered grid container">
    <div class="content right-display row">
      <div class="column">
        <div class="ui raised segment">
          <h2 class="ui icon header centered">
            <div class="centered content">
              <h1 class="character-name">
                Huxley
              </h1>
            </div>
            <i class="centered massive {{classIcon}}"></i>
            <div class="centered content">
              <h1 class="centered massive header">{{className}}</h1>
              <h4 class="centered medium header">{{classSlogan}}</h4>
            </div>
          </h2>
        </div>
        <div class="row">
          <div class="ui horizontal divider">
            <i class="big {{classIcon}}"></i> Characteristics
            <i class="big {{classIcon}}"></i>
          </div>
        </div>
        <div class="ui raised segment">
          <div class="ui big middle aligned divided list">
            {{#each qualities}}
            <div class="item">
              <h3>{{this}}</h3>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="row">
          <div class="ui horizontal divider">
            <i class="big {{classIcon}}"></i> Current Quests
            <i class="big {{classIcon}}"></i>
          </div>
        </div>
        <div class="ui raised segment">
          <div class="ui medium header">Complete Printing Project</div>
          <div class="ui three steps">
            <div class="active step">
              <i class="calendar icon"></i>
              <div class="content">
                <div class="title"> Check Schedule</div>
              </div>
            </div>
            <div class="step">
              <i class="users icon"></i>
              <div class="content">
                <div class="title"> Work in groups when possible</div>
              </div>
            </div>
            <div class="step">
              <i class="print icon"></i>
              <div class="content">
                <div class="title"> Print and submit your project</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui raised segment">
          <div class="ui medium header">Prepare for final week</div>
          <div class="ui three steps">
            <div class="active step">
              <i class="announcement icon"></i>
              <div class="content">
                <div class="title"> Find "Study Buddy"</div>
              </div>
            </div>
            <div class="step">
              <i class="comments outline icon"></i>
              <div class="content">
                <div class="title"> Discuss Missing ABET Competencies</div>
              </div>
            </div>
            <div class="step">
              <i class="edit icon"></i>
              <div class="content">
                <div class="title">
                  Complete Only Those Sections in the Guide
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui horizontal divider">
            <i class="big {{classIcon}}"></i> XP to next level
            <i class="big {{classIcon}}"></i>
          </div>
        </div>
        <div class="ui blue progress" id="xp-bar">
          <div class="bar">
            <div class="progress"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
